<form>
  Class: <%= select_tag(:row_class, @classes, :auto_focus => true) %><br />
  Level: <input id="level" type="text" name="level" size="2.5" value="1"><br />
  <br />
  Bonus Points: <span id="bonus_points" class="result">0</span><br />
  <br />
  <div id="stat_selectors">
    <div class="left stat_names">
      <ul>
        <li>STR:</li>
        <li>CON:</li>
        <li>DEX:</li>
        <li>INT:</li>
        <li>WIS:</li>
      </ul>
    </div>
    <div class="right">
      <ul>
        <li><%= select_tag(:str, [], :class => "stat_selector") %></li>
        <li><%= select_tag(:con, [], :class => "stat_selector") %></li>
        <li><%= select_tag(:dex, [], :class => "stat_selector") %></li>
        <li><%= select_tag(:int, [], :class => "stat_selector") %></li>
        <li><%= select_tag(:wis, [], :class => "stat_selector") %></li>
      </ul>
    </div>
  </div>
  <br class="clr"/>
</form>
<br />
HP: <span id="status_hp" class="result">0</span><br/>
Defense: <span id="status_defense" class="result">0</span><br/>
Magic Power: <span id="status_magic_power" class="result">0</span><br />
<br />
Skill Points: <span id="status_skill_points" class="result">0</span>
